.folio{

  article{
    position: relative;

    img{
      display: block;
    }

    p{
      position: absolute;
      bottom:0;
      left: 0;
      right: 0;

      margin: 0;
      padding: 10px 20px;

      color: white;
      background-color: rgba(0,0,0,0.6);

      opacity: 0;

      transition: opacity 0.5s;
    }

    &:hover p{
      opacity: 1;

    }
  }
}






@media screen and (min-width: $breakpoint-md){

  .folio{
    div{
      display: flex;
      flex-wrap: wrap;
    }
    article{
      flex:1 0 50%;
    }
  }
}

@media screen and (min-width: $breakpoint-lg){
  .folio{
    article{
      flex-basis: 33.333333%;
    }
  }
}
