header{
  background-color:$couleur_bc_menu;



  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;


    &-image{
      width: 150px;
      height: 150px;
      border: 4px solid white;
      border-radius: 75px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    h1, p{
      color: white;
    }

    h1{
      margin: 0 0 5px;
    }

    p{
      font-size: rem(18);
      margin: 0;
    }

  }
}