.nav-principale{

  .show-menu{
    display: block;
    text-align: center;
    color: white;
    background-color: #555;

    padding: 10px 0;

  }
  //+ est égal au voisin

  .toggle-menu{
    display: none;
  }

  .toggle-menu:checked+ul{
    display: block;
  }



  ul{
    margin: 0;
    padding: 0;

    display: none;

    a{
      display: flex;
      align-items: center;

      padding: 15px 40px;

      color: white;

      &:hover{
        background-color: $couleur_lien_hover;
      }

      &.active, &.active:hover{
        background-color: $couleur_lien_actif;
      }

      i{
        margin-right: 15px;
        font-size: rem(24);
      }
    }
  }



}