//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base

$couleur_text : #777777;

$couleur_bc_general : #ffffff;
$couleur_bc_menu : #5f6d7e;


$couleur_titre_section : #555555;


$couleur_lien : #ffffff;
$couleur_lien_hover : darken($couleur_bc_menu, 5%);
$couleur_lien_actif : darken($couleur_bc_menu, 15%);




