//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

$size_text : rem(16);

/// Font family
$ff_base : 'Roboto', 'helvetica', 'Arial', sans-serif;

$lh-text: 1.5;





/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
